<%- include("./partials/header") %>
    <div class="top">
        <img class="logo" src="/assets/ai1.gif" height="150" alt="logo">
        <h1 class="title">Anand Gaurav</h1>
        <p class="designation"><strong>Senior Undergraduate at IIT-BHU</strong></p>
    </div>
    <div class="middle-container">
        <div class="profile">
            <h2 style="text-align: center;">About Me</h2>
            <img class="dp" src="/assets/dp_circle.png" alt="my-picture">
            <p class="about">Hello! I'm Anand, an undergrad student at IIT-BHU. Skilled & Experienced in Machine Learning, Deep Learning, Data Science & Analytics. I have done Internships at IIM-B in the field of NLP for historical text data
                & at IIM-V. 
            </p>
        </div>
        <hr>
        <div class="work">
            <h2>Experience</h2>
            <div class="work-row">
                <img class="" src="" alt="">
                <h3>ML Engineer Intern at Secure Blink</h3>
                <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
            </div>
            <div class="work-row">
                <img class="" src="" alt="">
                <h3>Summer Internship at IIM-B</h3>
                <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>Lorem ipsum dolor sit amet, non elit.</h3>
            <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
            <a class="btn-contact" href="mailto:anandgaurav456@gmail.com">CONTACT ME</a>
        </div>
    </div>


    <div class="bottom-container">

        <a class="footer-link" href="https://www.linkedin.com/in/anandgaurav456/"><i class="fa fa-linkedin-square" style="font-size:24px;color:white"></i></a>
        <span> | </span>
        <a class="footer-link" href="https://github.com/anandgaurav456/"><i class="fa fa-github" style="font-size:24px;color:white"></i></a>
        <p class="b-name">© 2020 Anand Gaurav</p>


</body>

</html>
