<%- include("./partials/header") %>
    <div class="top">
        <img class="logo" src="/assets/ai1.gif" height="150" alt="logo">
        <h1 class="title">Anand Gaurav</h1>
        <p class="designation"><strong>Senior Undergraduate at IIT-BHU</strong></p>
    </div>
    <div class="middle-container">
        <div class="profile">
            <h2 style="text-align: center;">About Me</h2>
            <img class="dp" src="/assets/dp_circle.png" alt="my-picture">
            <p class="about">Hello! I'm Anand, an undergrad student at IIT-BHU. I have good experience in Competetive Programming and have worked on several Web Development Projects. Passionate and an excellent problem solver.
            </p>
        </div>
        <hr>
        <div class="work">
            <h2>Experience</h2> <br/>
                <h3>ML Engineer Intern at Secure Blink</h3>

                <li> Working on the proposed idea to generate an automated threat scan report along with possible attacks based on past scans & recommended a security patch/fix </li>
                <li>Automated NVD API to fetch data (150k+) and dumped it on MongoDB & pre-processed the data</li>
                <li>Performed EDA and noted observations. Applied ML algorithms to search for vulnerabilities</li>
                <li> Designing & brainstorming for custom scoring algorithm using the threat scan results.</li>
                
                <p><strong>Exposure: Python, Data Analysis, MongoDB, Cyber Security, CVSS, API</strong></p>
                
            </div>
            <br/>
            <h2>Projects</h2>
            <h3>Messaging Web App</h3>
            <li>Developed Real-Time Chat App with Chat rooms, last seen, timestamp features along with userspecific
                profile picture & deployed it on Firebase</li>
            <li>Used React.js as a Frontend-Framework and added various functionalities using React Hooks</li>
            <li>Integrated Google OAuth and Firestore database for the login feature</li>
            <br/>
            <h3>Collaborative Expense Management Web-App</h3>
            <li>Developed a Web-App to track bills and shared expenses among peers having Login feature, Add
                friend option and Include and settle expenses feature</li>
            <li>Used React.js for Frontend and integrated Redux for managing application state for different users</li>
            <li>Used Node.js and Express.js to create the Backend environment for the calculations required for
                different users &
                used MongoDB for storing & fetching user data.</li>
            <br/>
            <h3>Movie Search Web-App</h3>
            <li>Developed a Full-stack Movie Search App using Node.js, Express.js.</li>
            <li>Built a REST API for fetching information about various movies using a web-API (OMdb-API) and
                explored its usage using POSTMAN.</li>
            <li>Built the Frontend of the App using Bootstrap4 and custom CSS.</li>
            <li>Deployed the App on the cloud using Heroku.</li>
        </div>
            
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <a class="btn-contact" href="mailto:anandgaurav456@gmail.com">CONTACT ME</a>
        </div>
    </div>


    <div class="bottom-container">

        <a class="footer-link" href="https://www.linkedin.com/in/anandgaurav456/"><i class="fa fa-linkedin-square" style="font-size:24px;color:white"></i></a>
        <span> | </span>
        <a class="footer-link" href="https://github.com/anandgaurav456/"><i class="fa fa-github" style="font-size:24px;color:white"></i></a>
        <p class="b-name">© 2020 Anand Gaurav</p>


</body>

</html>
