<%- include("./partials/header") %>
  <div class="jumbotron">
    <h1 class="display-4">Movie Search App</h1>
    <p class="lead">
      This is a project made using OMdB API which help to seach for movies and details.
    </p>
    <hr class="my-4" />
    <p>
      It calls the API and this website displays the returned data in a proper format.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more about this Project</a>
  </div>

  <%- include("./partials/footer") %>